# Compiled source #
###################
*.com
*.class
*.o
*.so
*.zip
*.rar
__pycache__
# Application #
######################
*.xlsx
.vscode
# Extension files #
###################
settings.json
Docx/~$*
